
.footer{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:100;
    position: sticky;
}

.item, img{
    height: 100% !important;
    width:  100% !important;
    border: 1px solid red;
}
a:hover{
    background-color: rgba(8, 12, 228, 0.411) ;
    border-radius: 7px;

}
.h2{
    text-align: center;
    background-color:rgba(200, 247, 247, 0.943);
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
}
.carousel-inner{
   width: auto;
    height: auto;
}

.section-title{
    background-color: rgb(255, 244, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    text-shadow: black;
}
.section-title h1 {
    color: blue;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section-title{
    margin-left: 20%;
    width: 70%;
    height: auto;
    border: 100px 60px;
    margin: auto;
    
    padding: 10px 50px;
}

 .iframe{
    margin-left: 20%;
        width: 100%;
        height:100%;
    }
    /* .card125{
        margin-left: 10%;
        width: 90%;
        height: auto;
    } */
